<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Admin Sign In </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    </head>
    <body >
        <div class="box" >
            <form action = "/admin_signin" method = "POST">
                <h1 >Admin Sign In</h1>
                <label>Username</label>
                <input name = 'admin_username' type = 'email' placeholder="Enter admin Username" required>
                <label>Password</label>
                <input name = 'admin_password' type = 'password' placeholder="Enter admin Password" required>
                <div class="msg"> {{ msg }} </div>
                <input type="submit" value="Login">
            </form>

            <form align="center" action="/user_signin">
                <input align="center" type="submit" value="User Sign In">
            </form>
        </div>
    </body>
</html>