<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> User Type </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
<div class="box" >
    <h1 align="center"> Are You a Normal User ? </h1>
    <form action = "/user_signin" method="POST">
        <input type="submit" value="Normal User" name="nu" >
    </form>
    <form action = "/admin_signin" method="POST">
        <input type="submit" value="Admin" name="ad">
    </form>
</div>
</body>
</html>