<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Normal User Sign Up </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
<div class="box" >
    <form action="/user_signup" method = "POST">
        <h1>Sign Up</h1>
        <label>Name</label>
        <input align="center" name = 'one' type = 'text' placeholder="Enter Name" id="name">
        <label>Username</label>
        <input align="center" name = 'two' type = 'email' placeholder="Enter Username" id="email">
        <label>Password</label>
        <input align="center" name = 'three' type = 'password' placeholder="Enter Password" id="password">
        <div class="msg"> {{ msg }} </div>
        <input align="center" type="submit" value="Sign Up">
    </form>

    <form align="center" action="/user_signin">
        <input align="center" type="submit" value="User Sign In">
    </form>
</div>
</body>
</body>
</html>